:root {
	--main-black: #000000;
	--main-color: #d83620;
	--primary-color: #691815;
	--secondary-color: #981416;
	--main-white: #f2e9e9;
	--text-color: #cdcdcd;
	--main-green: #5cdb9a;
	--main-element-padding: 20px;
	--main-section-padding: 100px;
	--main-transtion: 0.3s;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	background-image: url(/images/background1.png);
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
li {
	font-family: "Cairo", sans-serif;
}

a {
	text-decoration: none;
	font-family: "Cairo", sans-serif;
}

ul {
	list-style: none;
}

.container {
	width: 90%;
	padding: 20px;
	margin: 0 auto;
}

/* start the main style */

/* start header section */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > ul {
	display: flex;
	justify-content: space-between;
	gap: 35px;
	font-size: 20px;
}

header ul,
header ul li a {
	color: var(--main-white);
	transition: 0.7s;
	letter-spacing: 0.075em;
}

header > ul li a:hover {
	color: var(--main-color);
}

header .profile {
	display: flex;
	align-items: center;
	gap: 10px;
	text-align: center;
	position: relative;
}

header .profile .user-img {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e58c80;
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
}

header .profile .icon {
	cursor: pointer;
}

header .profile .options {
	position: absolute;
	top: 60px;
	width: 170px;
	padding: 10px;
	border-radius: 15px;
	background-color: #e58c80;
	text-align: start;
	display: none;
}

header .profile .options .hover:hover {
	background-color: white;
	color: #e58c80;
}

header .profile .options .hover:hover a {
	color: #e58c80;
	cursor: pointer;
}

header .profile .metapoints {
	display: flex;
	align-items: center;
	gap: 12px;
}

header .profile .metapoints .points {
	padding: 5px;
	background-color: white;
	border-radius: 10px;
	color: #e58c80;
}

header .profile .metapoints:hover .points {
	background-color: #e58c80;
	color: white;
}

header .profile .options li {
	padding: 5px;
	border-radius: 10px;
}

header .profile > img {
	cursor: pointer;
}

/* end header section */

/* start main section */

main {
	padding-top: var(--main-section-padding);
	padding-bottom: var(--main-section-padding);
	display: flex;
	flex-direction: column;
	gap: 150px;
	width: 100%;
}

main .map-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

main .map-section h1 {
	font-family: "Cairo";
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 84%;
	color: #e58c80;
}

main .map {
	position: relative;
	cursor: pointer;
}

/* end the main style */

/* start lands market */
section.lands {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

section.lands h1 {
	color: #e58c80;
	font-weight: 700;
	font-size: 80px;
	line-height: 84%;
}

section.lands .lands {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section.lands .land {
	background: #22386d;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0px;
	position: relative;
	border-radius: 20px;
	flex-basis: 22%;
	transition: 0.3s;
	margin-top: 150px;
	position: relative;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
section.lands .land .state {
	font-size: 1.1rem;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
	margin-bottom: 25px;
	display: none;
}

section.lands .land .state.shown {
	display: initial;
}

section.lands .land.notavailab {
	box-shadow: 4px -1px 52px 0px rgb(212, 48, 26);
	-webkit-box-shadow: 4px -1px 52px 0px rgb(212, 48, 26);
	-moz-box-shadow: 4px -1px 52px 0px rgb(212, 48, 26);
}

section.lands .land.notavailab .state {
	color: red;
}

section.lands .land.availab .state {
	color: var(--main-green);
}

section.lands .land.availab {
	box-shadow: 4px -1px 52px 0px var(--main-green);
	-webkit-box-shadow: 4px -1px 52px 0px var(--main-green);
	-moz-box-shadow: 4px -1px 52px 0px var(--main-green);
}

section.lands .land > img {
	position: absolute;
	top: -150px;
}

section.lands .land:nth-child(2) > img {
	top: -100px;
}

section.lands .land:nth-child(4) > img {
	top: -200px;
}

section.lands .land:nth-child(5) > img {
	top: -160px;
}

section.lands .land:nth-child(6) > img {
	top: -110px;
}

section.lands .land:nth-child(8) > img {
	top: -110px;
}

section.lands .land .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

section.lands .land .content .name {
	font-family: "Cairo", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 84%;
	margin-bottom: 15%;
}

section.lands .land .content .price {
	font-family: "Cairo";
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 84%;
	margin-bottom: 35px;
}

section.lands .land .content img {
	width: 120px;
	margin-bottom: 20px;
}

section.lands .land .content button {
	background-color: #bf4538;
	outline: none;
	border: none;
	padding: 10px 30px;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 84%;
	font-family: "Cairo", sans-serif;
	color: #ffffff;
	border-radius: 20px;
}

/* end lands market */
/* start tickets shop */
.ticket-shop {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ticket-shop h1 {
	font-family: "Cairo";
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 84%;
	color: #e58c80;
	margin-bottom: 200px;
}

.ticket-shop .tickets {
	display: flex;
	align-items: center;
	gap: 150px;
}

.ticket-shop .tickets .ticket {
	position: relative;
	background-color: #22386d;
	color: white;
	padding: 60px 20px;
	border-radius: 20px;
}

.ticket-shop .tickets .ticket .content {
	display: flex;
	gap: 30px;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.ticket img {
	position: absolute;
	top: -120px;
	left: 50%;
	transform: translate(-50%);
	transition: 0.6s;
}

.ticket h3 {
	font-family: "Cairo";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 84%;
}

.ticket h5 {
	font-family: "Cairo";
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 84%;
}

.ticket p {
	font-family: "Cairo";
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 84%;
}

.ticket button {
	background-color: #bf4538;
	color: white;
	display: flex;
	gap: 10px;
	align-items: center;
	border: none;
	border-radius: 50px;
	padding: 20px 40px;
	cursor: pointer;
}

/* end tickets shop */
/* start points shop */
.buy-mp {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buy-mp h1 {
	font-family: "Cairo";
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 84%;
	color: #e58c80;
	margin-bottom: 200px;
}

.buy-mp .offers {
	display: flex;
	gap: 150px;
	align-items: center;
}

.buy-mp .offers .offer {
	background-color: #22386d;
	color: white;
	position: relative;
	padding: 60px 20px;
	border-radius: 20px;
}

.buy-mp .offer .content {
	display: flex;
	gap: 30px;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}

.content h5 {
	font-family: "Cairo";
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 84%;
}

.content p {
	font-family: "Cairo";
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 84%;
}

.currency-logo {
	width: 81px;
	height: 82px;
	background: #e58c80;
	border-radius: 50px;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translate(-50%);
}

.buy-mp .offer button {
	background-color: #bf4538;
	color: white;
	display: flex;
	gap: 10px;
	align-items: center;
	border: none;
	border-radius: 50px;
	padding: 20px 40px;
	cursor: pointer;
	font-family: "Cairo";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 84%;
}

/* end points shop */
/* footer start*/
footer {
	margin-top: 250px;
	color: white;
	text-align: center;
	background-color: var(--main-black);
	padding: 50px;
	display: flex;
}

footer .up {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer ul {
	display: flex;
	gap: 50px;
}

footer .contact-us {
	display: flex;
	gap: 20px;
}
footer .contact-us i {
	color: var(--secondary-color);
	cursor: pointer;
}

footer .contact-us i:hover {
	transition: 0.4s;
	color: var(--main-color);
}

footer a:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* footer end */
